/** Set ids using widget.getElement().setId("idOfElement") */
/*SEITENAUFBAU*/
html {
	background-image: url("/images/backgroundimg.jpg");
	background-repeat: repeat;
	background-size: cover;
	font-family: 
}

body {
	background: transparent !important;
}

.tbody, tfoot, thead, tr, th, td {
    vertical-align: middle !important;
}

#header {
	height: 80px;
	width: 89.5%;
	margin-top: 20px;
	margin-left: 5%;
	margin-bottom: 20px;
	border: 2px solid black;
	background: linear-gradient(to bottom, #3399ff 0%, #99ccff 100%);
	box-shadow: 5px 5px 2.5px grey;
	background-size: contain;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#headline {
	font-size: 2.9em;
	height: 45px;
	color: white;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 1.5%;
	padding: 15px;
	text-shadow: 1.5px 1.5px grey;
	letter-spacing: 0.01em;
}

#logo {
	background-image: url("/images/logo.png");
	background-repeat: no-repeat;
	background-position: right;
	height: 100px;
	width: 100px;
	background-size: 80%;
	margin-right: 15px;
}

#menubar {
	height: 40px;
	width: 89.5%;
	margin-top: 5px;
	margin-left: 5%;
	margin-bottom: 10px;
	border: 2px solid black;
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 5px 5px 2.5px grey;
}

#menubar .menuBarLabelContainer {
	height: inherit;
	display: inline-block;
	margin-left: 5px;
}

#menubar .menuBarLabel {
	padding-top: 6px;
	padding-left: 10px;
	width: 12em;
	font-size: 1.7em;
	color: #606060;
	display: inline-block;
}

#logout {
	width: auto;
	float: right;
	margin-right: 10px;
	height: inherit;
}

#logout .logoutBarContainer {
	height: inherit;
	display: inline-block;
}

.logoutBarContainer tr {
	height: 40px;
}



.menuBarLabelContainer tr {
	height: 40px;
}

#leftmenutree {
	height: 650px;
	width: 15%;
	display: inline-block;
	border: 2px solid black;
	margin-left: 5%;
	margin-right: 1%;
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 3px 2px 2px grey;
}

#leftmenu .headline {
	font-size: 1.8em;
}

#content {
	height: 650px;
	width: 73.3%;
	display: inline-block;
	border: 2px solid black;
	background-color: rgba(255, 255, 255, 0.7);
	box-shadow: 3px 2px 2px grey;
}

.kontaktDecoratorPanel {
	position: absolute;
	top: 205px;
	left: 640px;
	border-radius: 12px;
	width: 1px;
	line-height: 1px;
	border: 2px solid #bbb;
	font-size: 1px;
}

#content .headline {
	font-size: 2.5em;
	width: 100%;
	margin: 20px auto;
	text-align: center;
	color: grey;
	font-weight: bold;
}

#footer {
	height: 80px;
	width: 89.5%;
	margin: 20px auto;
	border: 2px solid black;
	background: linear-gradient(to top, #3399ff 0%, #99ccff 100%);
	box-shadow: 5px 5px 2.5px grey;
}

/* TEXT FORMATIERUNGEN */
.h1 {
	font-size: 2.4em;
	font-weight: bold;
	color: #777777;
	margin-left: 200px;
	text-align: center;
}

.h2 {
	font-size: 1.3em;
	margin: 10px 0px 5px 10px;
	color: #3d3d3d;
	font-family: 'Kalam', cursive !important;
	font-weight: 300;
	font-size: 1.5em;
}

.labelSize1 {
	font-size: 1.1em;
}

.kontaktFormText {
	margin-right: 10px;
	margin-top: 5px;
	font-size: 1.2em;
}

.landingpageText {
	text-align: center;
	font-size: 1.2em;
}

.navigationPanelHeadline {
	font-size: 1.7em;
	font-weight: bold;
	color: #494949;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	font-family: 'Kalam', cursive;
}

/** WIDGET & PANEL FORMATIERUNGEN*/
.menuBarContainerFlowPanel {
	width: 90%;
}

.kontaktlistenViewPanel {
	width: 250px;
	height: 500px;
	margin-left: 1em;
	margin-top: 2em;
}

.cellListWidgetContainerPanel {
	width: auto;
	height: auto;
	margin-left: 1em;
	margin-top: 2em;
}

.kontaktCellTableView {
	margin-left: 20px;
	margin-top: 20px;
}

.headlinePanel {
	width: 100%;
	height: auto;
	font-size: 2em;
}

.dialogVPanel {
	margin: 5px;
}

.clientAuswahlPanel {
	margin: 30px auto;
}

.treeContainerPanel {
	height: 500px;
	width: 220px;
	overflow: scrollable;
}

/* REPORT GENERATOR FORMATIERUNG */
.listbox-report {
	position: relative;
	width: 200px;
	padding: 10px;
	margin: 0 auto;
	color: #fff;
	outline: none;
	font-weight: bold;
	cursor: pointer;
	background: darkgrey;
	border: double;
}

/* BUTTON FORMATIERUNGEN */

.addButton {
	text-align: center;
	margin-left: 10px;
	border-radius: 80px;
	width: 33px;
	height: 30px;
}

.addButton:hover {
	transform: scale(1.02);
}

.searchTextBox {
	background-image: url("/images/search.svg");
	background-repeat: no-repeat;
	background-position: right;
	height: 25px;
	width: 120px;
	font-size: 1.1em;
	margin-right: 5px;
}

.searchTextBox:hover {
	background-size: 18%;
}

.detailSearchTextbox {
	margin-left: 15px;
	height: 20px;
}

.detailSearchTextbox:hover {
	transform: scale(1.01);
}

.mainButton {
	width: auto;
	border-radius: 6px;
	border: 1px solid #d9d9d9;
	display: inline-block;
	cursor: pointer;
	color: #666666;
	background-color: #e6e6e6;
	font-size: 11px;
	font-weight: bold;
	padding: 8px 8px 8px 8px;
	text-shadow: 0px 1px 0px #ffffff;
	text-align: center;
	margin: auto 2px;
}

.mainButton:hover {
	transform: scale(1.02);
	box-shadow: inset 0 0 0 1px #f2f2f2;
	border: 1px solid #e6e6e6;
	background-color: #f2f2f2;
}

.logoutButton {
	background-color: #d9d9d9;
	width: 70px;
	border-radius: 6px;
	border: 1px solid #f2f2f2;
	display: inline-block;
	cursor: pointer;
	color: #595959;
	font-size: 11px;
	font-weight: bold;
	padding: 8px 0px 8px 0px;
	text-shadow: 0px 1px 0px #ffffff;
	text-align: center;
	margin: auto 2px;
}

.logoutButton:hover {
	transform: scale(1.02);
	box-shadow: inset 0 0 0 1px #f2f2f2;
	border: 1px solid #f2f2f2;
	background-color: #e6e6e6;
}

#closeButton {
	margin: 15px 6px 6px;
}

.viewProfileIcon {
	height: 20px;
	background-image: url("/images/eye.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
	cursor: pointer;
	height: 25px;
	width: 25px;
	border: 0px;
}

.viewProfileIcon:hover {
	transform: scale(1.1);
}

/* .GWT WIDGET FORMATIERUNGEN */
.gwt-DialogBox .Caption {
	background: white;
	cursor: default;
	border-bottom: 1px solid #bbbbbb;
	border-top: 5px solid #d0e4f6;
	text-align: center;
}

.gwt-DialogBox {
	width: 400px;
	height: 400px;
}

.gwt-DialogBox .dialogContent {
	width: auto;
	margin: auto auto;
	padding: 20px 20px 20px 20px;
	margin-left: 50px;
	margin-right: 50px;
}

.gwt-DialogBox .dialogMiddleCenter {
	padding: 15px;
	background: white;
	margin-left: 60px;
}

.gwt-Button {
	font-size: 1em;
	width: 100px;
	border-radius: 6px;
	border: 1px solid #d9d9d9 !important;
	cursor: pointer;
	color: #2c2c2c!important;
	background-color: #e6e6e6 !important;
	padding: 6px 0px 6px 0px !important;
	text-shadow: 0px 1px 0px #ffffff !important;
	text-align: center;
	background-image: none !important;
	margin-right: 5px !important;
}

.gwt-Button:hover {
	transform: scale(1.02);
	box-shadow: inset 0 0 0 1px #f2f2f2 !important;
	border: 1px solid #e6e6e6 !important;
	background-color: #f2f2f2 !important;
	}

.gwt-SuggestBox {
	margin-left: 20px;
	display: inline-block;
	vertical-align: baseline;
}

.serverResponseLabelError {
	color: red;
}

.reportButton{
	width: auto;
	border-radius: 6px;
	border: 1px solid #d9d9d9;
	display: inline-block;
	cursor: pointer;
	color: #000000;
	background-color: #ffffff;
	font-size: 11px;
	font-weight: bold;
	padding: 8px 8px 8px 8px;
	text-shadow: 0px 1px 0px #ffffff;
	text-align: center;
	margin-left: 5px;
	margin-top: 4.5px;
	vertical-align: super;
}

