.cellTreeEmptyMessage {
	padding-left: 14px;
	font-style: italic;
	font-family: 'Kalam ', cursive;
}

.cellTreeItem {
	cursor: hand;
	cursor: pointer;
	zoom: 1;
}

.cellTreeItem tr td {
	font-family: 'Kalam', cursive;
	font-weight: 300;
	font-size: 16px;
	letter-spacing: 0.3px;
}

.cellTreeItem:hover {
	transform: scale(1.01);
}

.cellTreeItemImageValue {
	zoom: 1;
}

.cellTreeItemValue {
	padding-left: 3px;
	padding-right: 3px;
	outline: none;
}

.cellTreeTopItem {
	font-weight: bold;
	color: #3f3f3f;
	margin-top: 15px;
	padding: 1px 13px 1px 10px !important;
}

.cellTreeTopItem tr td {
	font-family: 'Kalam', bold;
	font-size: 16px;
	letter-spacing: 0.3px;
	font-weight: 500;
}

.cellTreeTopItemImageValue {
	border-bottom: 1px solid #6f7277;
}

.cellTreeKeyboardSelectedItem {
	background: linear-gradient(to right, #b3ecff 0%, #ffffff 100%);
	outline: none;
}

.cellTreeSelectedItem {
	overflow: hidden;
	background: linear-gradient(to right, #b3ecff 0%, #ffffff 100%);
	height: auto;
	text-shadow: 0px 1px 1px #ffffff;
	overflow: visible;
}

.cellTreeShowMoreButton {
	padding-left: 16px;
	outline: none;
}

.cellTreeOpenItem tr td {
	
}

.cellTreeItemImage {
	
}

.cellTreeWidget {
	width: inherit;
}
.cellTreeWidget tr td {
	
}

.cellTreeTopItemImage {
	margin-top: 7px;
}
