.cellListEvenItem {

    border-radius: 5px;
    background: linear-gradient(to right, #E8E8E8 0%, #ffffff 95%);
    margin: 5px 0px;
    color: 	black;
    font-size: 1.3em;
    padding:4px 10px;
    cursor: pointer;
}

.cellListOddItem {

    border-radius: 5px;
	background: linear-gradient(to right, #99ccff 0%, #ffffff 95%);
    margin: 5px 0px;
    padding: 3px;
    color: 	black;
    font-size: 1.3em;
    padding: 4px 10px;
    cursor: pointer;
}

.cellListWidget {
	display: inline-block;
	height: 400px;
	margin: 25px 0px 50px 5px;
	overflow-y: scrollable;
	padding-right: 7px;
	width: 200px;
}

.cellListKeyboardSelectedItem {
    
}

.cellListSelectedItem {
	background: #80bfff;
	font-weight: bold;
	font-size: 1.4em;
	color: black;
	height: auto;
	overflow: visible;
	border-radius: 5px black;
}